label, input{
    display: block;
}

form{
    font-family: var(--global-font);
    margin: 0 auto 50px auto ;
    text-align: center;
    height: 550px;
    width: 80%;
    background: var(--background-color);
    border-radius: 20px;
    color: var(--black-color);
    padding-top : 30px;
}

input{
    margin: 0 auto 0 auto;
    width: 70%;
}

textarea{
    padding: 10px;
    resize: none;
    width: 70%;
    height: 50%;
    border: 2px solid var(--hightlight-color);
    border-radius: 5px 20px 5px 20px;
    box-shadow: inset -6px -4px 8px 0px var(--black-lowOp-color), inset 6px 4px 8px 0px var(--black-lowOp-color);
}

input[type=submit]{
    border-radius : 10px;
    height: 10%;
    position : relative;
    bottom : -5%; 
    border: 3px solid var(--hightlight-color);
    background-color: var(--secondary-color);
    transition : cubic-bezier(0.67,-0.41,0.27,1.6) 0.9s;
    color: var(--black-color);
}

input[type=submit]:hover{
    transform: scale(1.1);
    border: 3px solid var(--secondary-color);
    background-color: var(--hightlight-color);
}